{{#each plantCollection.plants as |plant|}}
  {{log plant}}
  <section data-id="{{plant._id}}">
    <h4 data-id="{{plant._id}}" class="plants pointer">{{plant.name}} STRAWBERRY </h4>
  </section>
{{/each}}
