  {{#each plantCollections as |plantCollection|}}

    <section data-id="{{plantCollection._id}}">
      <p data-id="{{plantCollection._id}}" class="pc pc-name-header pc-header pointer">
          {{plantCollection.name}}
      </p>

      <button data-id="{{plantCollection._id}}" class="btn-pc-delete btn-danger delete-pc-button">Delete</button>
      <br>
    </section>
    {{/each}}
