@import '~bootstrap/scss/bootstrap';

.success {
  color: #C7E2C8;
}

.failure {
  color: red;
}

body {
  background-image: url("./images/plants.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #C7E2C8;
}

button {
  border-radius: 10px;
  background-color: #A8E5AB;
  color: #174419;
}

button:hover {
  background-color: #174419;
  color: #A8E5AB;
}

.head {
  .row {
    .box1 {
      display: flex;
    }
    .box2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
      }
    }
    .box3 {
      display: flex;
      justify-content: center;
    align-items: center;
    }
  }
}

.pointer {
  cursor: pointer;
}

.menu-dropdown {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #E89AD9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A8E5AB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #0D2D0E;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dm:hover {
  color: #A83B94;
}

.signup {
  display: none;
}

.changepw {
  display: none;
}

.plant-collections {
  display: none;
}

.go-back,
.switch {
  color: #F4FFFF;
}

.pc-name-header {
  margin: 30px;
  padding: 20px;
  border: 2px solid;
  background-color: #174419;
  color: #FFFFFF;
  opacity: 0.8;
  border-radius: 10px;
}

.pc-name-header:hover {
  box-shadow: 0px -2px 8px 1px rgba(241,255,207,0.82);
  color: #FFFFFF;
  opacity: 1;
}

.plant-listing {
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 15px;
  color: #0D2D0E;
  border-radius: 10px;
}

.plant-listing:hover {
  background-color: #0D2D0E;
  color: #FFFFFF;
}

.getDeletePCButtons {
  display: none;
}

.add-pc {
  display: none;
}

.plant-collection {
  display: none;
}

.edit-pc-name {
  display: none;
}

.delete-pc-button {
  display: none;
}

.delete-plant-button {
  display: none;
}

.add-plant {
  display: none;
}

.plant-information {
  display: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: #174419;
  padding: 10px;
}

.see-plants {
  color: #174419;
}

// .plant-style {
//   text-align: left;
// }

.edit-plant {
  display: none;
}
