@import '~bootstrap/scss/bootstrap';

.success {
  color: #C7E2C8;
}

.failure {
  color: red;
}

body {
  background-image: url("https://user-images.githubusercontent.com/53062479/86590586-e8fd4e80-bf5d-11ea-8441-b348d0c6e129.jpeg");
  height: '100vh';
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #C7E2C8;
}

button {
  border-radius: 10px;
  background-color: #A8E5AB;
  color: #174419;
}

button:hover {
  background-color: #174419;
  color: #A8E5AB;
}

.head {
  .row {
    .box1 {
      display: flex;
      justify-content: flex-start;
      margin-top: 5px;
    }
    .box2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
      }
    }
    .box3 {
      display: flex;
      justify-content: flex-end;
      // align-items: center;
    }
  }
}

.pointer {
  cursor: pointer;
}

.menu-dropdown {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border: 4px solid #174419;
  border-radius: 10px;
  background-image: url('./../images/dropdown-menu-icon.png');
  background-size: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A8E5AB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #0D2D0E;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dm:hover {
  color: #A83B94;
}

.signup {
  display: none;
}

.demo-account-indicator {
  display: none;
}

.demosignin {
  display: none;
}

.changepw {
  display: none;
}

.demochangepw {
  display: none;
}

.plant-collections {
  display: none;
}

.go-back,
.switch {
  color: #F4FFFF;
}

.header-title {
  margin: auto;
  width: 75%;
  padding: 20px;
  background-color: #174419;
  color: #FFFFFF;
  border-radius: 10px;
}

.content-plant-collections {
  width: 75%;
  margin: 20px auto;
}

.pc-name-header {
  margin: auto;
  width: 75%;
  padding: 20px;
  background-color: #FFFFFF;
  color: #174419;
  opacity: 0.8;
  border-radius: 10px;
}

.pc-header:hover {
  box-shadow: 0px -2px 8px 1px rgba(241,255,207,0.82);
  background-color: #FFFFFF;
  color: #174419;
  opacity: 1;
}

.plant-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.plant-listing {
  background-color: #FFFFFF;
  color: #174419;
  opacity: 0.8;
  border-radius: 10px;
  width: 150px;
  float: center;
  // border: 2px solid #174419;
  height: 90px;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
}

.plant-listing:hover {
  // background-color: #0D2D0E;
  // color: #FFFFFF;
  background-color: #FFFFFF;
  color: #174419;
  box-shadow: 0px -2px 8px 1px rgba(241,255,207,0.82);
  opacity: 1;
}

.getDeletePCButtons {
  display: none;
}

.add-pc {
  display: none;
}

.plant-collection {
  display: none;
}

.edit-pc-name {
  display: none;
}

.delete-pc-button {
  display: none;
}

.delete-plant-button {
  display: none;
}

.delete-log-button {
  display: none;
}

.edit-log-button {
  display: none;
}

.add-plant {
  display: none;
}

.add-log {
  display: none;
}

.plant-information {
  display: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: #174419;
  padding: 10px;
}

.see-plants {
  color: #174419;
}

// .plant-style {
//   text-align: left;
// }

.edit-plant {
  display: none;
}

.edit-log {
  display: none;
}

.input-field {
  width: 275px;
}

.edit-input-field {
  width: 335px;
}
